@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@200..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

*{
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  background: #000;
  color: #fff;
}

.top-space{
  margin-top: 10%;
}

#background{
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #C1272D, #004C59, #00414C, #003640, #C1272D);
  animation: gradient 6s ease infinite;

  background-position: center;
  background-size: 200% 100%;
  background-repeat: no-repeat; 
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


.container{
  padding: 10px 10% 3.5%;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.6s;
  padding: 4% 10%;
  z-index: 1000;
}

nav ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav.sticky{
  padding: 1% 10%;
  background: #0092a2;
}

nav.sticky ul li a{
  color: #fff;
}

nav.sticky .logo{
  color: #fff;
}

nav.sticky ul li a::after{
  background: #fff;
}

nav .logo{
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

nav .logo span{
  color: #0092a2;
}

nav.sticky .logo span{
  color: #fff;
}

nav ul li{
  position: relative;
  list-style: none;

}

nav ul li a{
  font-size: 20px;
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #0092a2;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after{
  width: 100%;
}

#morocco-word{
  color: #C1272D;
}

.header-text{
  margin-top: 30vh;
  font-size: 5vh;
}

.header-text h1{
  margin-top: 10vh;
  font-size: 10vh;
  letter-spacing: 0.5vw;
  line-height: 1.5;
}

/*----------about part1----------*/

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1{
  flex-basis: 35%;
}

.about-col-1 img{
  width: 100%;
  border-radius: 15px;
}

.about-col-2{
  flex-basis: 60%;
}

.about-col-2 #about-text{
  font-size: 24px;
  line-height: 2;
}

.title{
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

#text-location{
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 20px;
}

#text-location i{
  color: #0092a2;
  margin-right: 15px;
  font-size: 25px;
}

blockquote{
  font-size: 16px;
  width:100%;
  margin:20px auto;
  font-style:italic;
  color: #fff;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #0092a2 ;
  line-height:1.6;
  position: relative;
  background:#000;
}

blockquote::before{
  content: "\201C";
  color:#0092a2;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#fff;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

/*----------about part2----------*/

.tab-titles{
  display: flex;
  margin: 50px 0 0;
}

.tab-titles p i{
  color: #0092a2;
  margin-left: 30px;
}

.tab-links{ 
  margin-right: 50px;
  font-size: 40px;
  font-family: 'Bebas Neue';
  margin: 0 auto;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #0092a2;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after{
  width: 100%;
}

.tab-contents ul li{
  list-style: none;
}

.tab-contents{
  display: none;
}

.tab-contents.active-tab{
  display: block;
}

.tools-container{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 80px;
  font-size: 1.2rem;
}

.experience-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 80px;
  font-size: 1.2rem;
}

.education-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 80px;
  font-size: 1.2rem;
}

.icon-box{
  padding: 1rem;
  color: #ddd;
  cursor: pointer;
}

.icon-box p{
  font-size: 12px;
}

.icon-box:hover > .icon-title:after, .icon-box:hover > .icon-title:before{
  width: 35px;
}

.icon-box:hover .img{
  transform: translateY(-10px);
}

.icon-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.icon-title:after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: #0092a2;
  transition: 0.5s;
}

.icon-title:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: #0092a2;
  transition: 0.5s;
}

.img{
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.img:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  background: rgba(100,100,100,0.5);
  border-radius: 45px 0 0 45px;


}

.icon-title h3{
  color: #fff;
  margin-top: 0.5rem;
}

.icon{
  width: 60px;
  z-index: 2;
}


/*----------projects----------*/

.project-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin-top: 50px;
}

.project{
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.project img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer{
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.6), #0092a2);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: height 0.5s;
}

.img-container{
  position: relative;
}

.layer div{
  position: absolute;
  display: flex;
  top: 10%;
}

.layer img{
  width: 40px;
  height: 40px;
  margin: 0 5px 20px 5px;
}

.layer h3{
  position: absolute;
  top: 35%;
  font-weight: 500;
  font-family: 'Bebas Neue';
  font-size: 40px;
}

.layer p{
  position: absolute;
  padding: 0 5%;
  top: 60%;
  font-size: 20px;
}

.project:hover > img{
  transform: scale(1.1);
}


/*----------projects pages----------*/

#project-title{
  margin-top: 5vh;
}

.return-button{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;


  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;


  width: 100vw;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  background: #0092a2;
  padding: 1% 10%;
  cursor: pointer;
  transition-duration: 0.3s;
}

.return-button:hover{
  transform: scale(1.05);

}

.project-row-1, .project-row-2{
  margin-top: 2.5%;
  padding: 5vh 5vw;
}

.project-row-1{
  background-color: #0092a2;
}

.project-row-2{
  background-color: #004c59;
}

.sub-title{
  font-size: 40px;
  font-family: 'Bebas Neue';
  text-align: center;

}

.sub-title i{
  margin-left: 2.5%;
}

.question{
  margin-top: 20px;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 0 10px  #006233, 0 0 15px #006233, 0 0 20px #006233;
}

.answer{
  margin-top: 20px;
  font-size: 30px;
  line-height: 1.5;
}

#before-video{
  margin-bottom: 5vh;
}

video{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.project-button{
  justify-content: center;
  align-items: center;
  display: flex;

  color: #fff;
  margin: 5vh auto 0;
  width: 50vw;
  font-weight: bold;
  font-size: 40px;
  text-decoration: none;
  background: #0092a2;
  padding: 2% 2%;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.project-button:hover {
  background-color: #33b249;
  transform: scale(1.05);
}

/*----------contact----------*/

#msg{
  display: block;
  font-weight: bold;
  font-size: 20px;
}

.contact-button{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #0092a2;
  padding: 14px 60px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
  display: inline-block;
  background: #0092a2;

  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.contact-button:hover{
  background: #33b249;
}

.contact-left{
  flex-basis: 35%;
}

.contact-right{
  flex-basis: 60%;
}

.contact-left p{
  margin-top: 30px;
  font-size: 150%;
}

.contact-left p i{
  color: #0092a2;
  margin-right: 5%;
  font-size: 200%;
}

.social-icons{
  margin-top: 10%;
  margin-bottom: 5%;
}

.social-icons a{
  text-decoration: none;
  font-size: 500%;
  margin-right: 10%;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover{
  color: #0092a2;
  transform: translateY(-5px);
}

.contact-right form{
  width: 100%;
}

form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

.copyright{
  width: 100%;
  text-align: center;
  padding: 25px;
  background: #262626;
  font-weight: 300;
}

.copyright i{
  color: #0092a2;
}

/*----------css media queries----------*/

nav .fa-solid{
  display: none;
}

/*----------header text----------*/

@media only screen and (max-width: 320px){
  .header-text{
    font-size: 2.5vh;
  }

  .header-text h1{
    font-size: 5vh;
  }
}

@media only screen and (min-width: 320px) and (max-width: 675px){
  .header-text{
    font-size: 3.33vh;
  }

  .header-text h1{
    font-size: 6.66vh;
  }
}

@media only screen and (min-height: 1000px){
  .header-text{
    font-size: 3.33vh;
  }

  .header-text h1{
    font-size: 6.66vh;
  }
}


@media only screen and (max-width: 675px){

  .title{
    font-size: 40px;
  }

  #title-about-me{
    margin-top: 20px;
  }

  .about-col-1, .about-col-2{
    flex-basis: 100%;
  }

  .tab-links{
    font-size: 20px;
    margin-right: 20px;
  }

  .tools-container,.experience-container,.education-container{
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem 60px;
  }

  .project-list{
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
  }

  .layer img{
    width: 30px;
    height: 30px;
    margin: 0 5px 20px 5px;
  }

  .layer h3{
    font-size: 30px;
  }

  .layer p{
    font-size: 12px;
  }

  .question{
    font-size: 25px;
  }

  .answer{
    font-size: 20px;
  }

  #project-video{
    width: 300px;
  }

  .contact-left, .contact-right{
    flex-basis: 100%;
  }

  .copyright{
    font-size: 14px;
  }

  .choice{
    width: 80px;
    height: 80px;
  }

  .project-button{
    font-size: 20px;
  }
}



/*----------phone navbar----------*/

@media only screen and (max-width: 800px){
  nav .fa-solid{
    display: block;
    font-size: 25px;
  }

  nav ul{
    display: block;
    background: #0092a2;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li{
    display: block;
    margin: 25px;
  }

  nav ul .fa-solid{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
}


/*----------logo----------*/

@media only screen and (max-width: 500px) and (min-width: 300px){
  nav .logo{
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 300px){
  nav .logo{
    font-size: 1em;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px){

  .tools-container{
    grid-template-columns: repeat(4, 1fr);
  }

  .project-list{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 400px) and (max-width: 600px){

  .layer p{
    font-size: 15px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px){

  .layer h3{
    font-size: 60px;
  }

  .layer p{
    font-size: 25px;
  }

  .tools-container{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 400px) and (max-width: 800px){

  .project-list{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 330px) and (max-width: 800px){
  .result > p{
    font-size: 20px;
  }
}

@media only screen and (max-width: 330px){
  
  .result > p{
    font-size: 15px;
  }
}